@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family:'Adam';
    src: url('../fonts/ADAM.CGPRO.otf');
}
.tipografia{
    font-family: 'Adam';
    
} 
.texRoboto{
    font-family: 'Roboto';
}
#navResponsive{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}
#barraNavegacion{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navResponsive .fa{
    font-size: 2em;
}
#araba{
    width: 7em;
    padding-bottom: 1em;
    
}
header input, header #barraNavegacion ul{
    display: none;
}
header input:checked ~ #barraNavegacion .primeraLista{
    display: block;
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-bottom: 1em;
}

#barraNavegacion ul li{
    margin-top: 1em;
    text-align: center;
}
.segundaLista{
    display: flex;
    margin:1em 1.5em 0 0 ;
}

.segundaLista  li{
    margin-left: 1.5em;
}

.iconos{
    width: 1.5em;
}
#facebook{
    width: 1.2em;
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
} 

.textoNegro{
    color: black;
    
}

.lineaNegra{
    margin:0 1.5em;
    height: 1.5em;
    background-color: black;
    border: none;
}

#imgHeader{ 
    background-image: url(../imagenes/mecera.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulos{
    font-family:'Adam';
}
h1{
    background-color: rgba(12, 12, 12, 0.596);
    text-align: center;
    padding: 3.5em;
}
h2{
    text-align: center;
    padding: 3.5em 0 1em 0;
    
}
#imgSomos{
    background-image: url(../imagenes/meseceros.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.margenImg{
    margin-top: 2em;   
}

.colorBlanco{
    color: white;
    
    line-height: 1.5em;
}
#somosTex{
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
}
#servicios{
    display:grid;
    grid-template-columns:repeat(1, 1fr) ;
}

.imgServicio{
    width: 18em;
   
}
.tarjetas{
    background-color: #880606;
    width: 17em;
    margin-top: 2em;
    border-radius: 133px 133px 0 0;
    justify-self: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
 .tarjetas p{
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 2em;
}
#formulario{
    width: 100%;
}

form{
    margin-top: 1em;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

.formAraba{
    width: 100%;
    justify-self: stretch;
    padding-top: 1.5em;
    text-align: center;
}
textarea, input{
    margin-top: 1em;
    font-family: 'Roboto';
    font-size: 1em;
}
textarea{
    place-self: center;
    width: 94%;
    
}

#submit{
    width: 4em;
    height: 2em;
    place-self: center;
    background-color: #C13939;
    border: none;

}
